name: Deploy TypeDoc to GitHub Pages

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  typedoc:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'
      - name: Install & Generate TypeDoc
        run: |
          yarn install --frozen-lockfile
          yarn run typedoc
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages
          folder: docs
          git-config-name: github-actions[bot]
          git-config-email: github-actions[bot]@users.noreply.github.com
